<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || 'Graphic Designer' %> | Nizait Santana</title>

    <%= stylesheet_link_tag 'all' %>
  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header navbar-left">
          <a class="navbar-brand" href="/">
            <img alt="Nizaitsan" src="images/logo.png">
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="skype:chikisb25?call" target="_blank">
            <img src="images/skype.png" />
          </a></li>
          <li><a href="https://twitter.com/nizaitsan" target="_blank">
            <img src="images/twitter.png" />
          </a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <%= javascript_include_tag  'all' %>
  </body>
</html>
